* {
  margin: 0;
  padding: 0;
}
section {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}
.help {
  float: left;
  width: 250px;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 35px 20px 35px 20px;
}
.help dl {
  margin-bottom: 25px;
}
.help dl dt a {
  font-weight: bold;
  color: #545358;
}
.help dl dd {
  margin-top: 8px;
  margin-left: 20px;
}
.help dl dd a {
  color: #545358;
  text-decoration: none;
}
.act {
  float: right;
  background: #f3f3f3;
  width: 730px;
  border-radius: 10px;
  padding: 35px 20px 35px 20px;
}
.act dl {
  margin-bottom: 60px;
}
.act dl dt {
  margin-top: 20px;
  margin-bottom: 25px;
  color: #424242;
  font-weight: bold;
}
.act dl dd {
  color: #545358;
  line-height: 30px;
}
.title {
  color: #424242;
}
.line {
  height: 1px;
  background: #a3a3a3;
  margin: 10px 0;
}
