body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
address,
em {
  font-style: normal;
}
a {
  color: #000;
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.play {
  width: 100%;
}
.play div {
  width: 1080px;
  margin: 0 auto;
}
.play div .div_title {
  padding: 40px 0px 40px 0px;
  font-size: 40px;
  font-weight: 250;
  text-align: center;
}
.play div .play_new {
  font-size: 17px;
}
.play div .play_new ul {
  width: 540px;
  overflow: hidden;
  margin: 0 auto;
}
.play div .play_new ul li {
  float: left;
  width: 136px;
  text-align: center;
  padding-bottom: 12px;
}
.play div .play_new ul li a {
  color: #acaab8;
}
.reimg {
  width: 100%;
  background-color: #f7f7f7;
}
.reimg .imgxin {
  width: 1080px;
  margin: 0 auto;
  height: 500px;
}
.reimg .imgxin ul {
  overflow: hidden;
  height: 222px;
  margin-top: 6px;
  margin-left: 10px ;
}
.reimg .imgxin ul li {
  float: left;
  margin: 20px 40px 20px 0px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: 220px;
  height: 222px;
  background-color: #fff;
}
.reimg .more {
  text-align: center;
  margin: 0 auto;
}
.reimg .more img {
  width: 18px;
  height: 8px;
  padding-bottom: 3px;
}
.reimg .more span {
  margin-left: 8px;
  font-size: 15px;
  color: red;
}
